



<% if (locals.categories.length > 0){ %>
        <% locals.categories.forEach((category)=>{ %>
            <div class="category">
            <div class="imgHolder">
                <% if (category.picture == null) { %>
                    <img src="" alt="">
                <% } else { %>
                <img src="data:<%= category.datatype %>;base64,<%= category.picture.toString('base64') %> " alt="movie image">
                <% } %>
            </div>
            <div class="categoryDetails">
                <p class="soulway"><%= category.name %></p>
                <% if (category.count > 0) {%>
                    <p><%= category.count %> Movies</p>
                <% } else { %>
                    <p>No Movies</p>
                <% } %>
                <div class="buttons">
                    <a href="/category/<%= category.category_id %>">Details</a>
                    <a href="<%= locals.path %>/edit/<%= category.category_id %>">Edit</a>
                    <a href="<%= locals.path %>/remove/<%= category.category_id %>">Remove</a>
                </div>
            </div>
            </div>
        <% }) %>
        <% } else { %>
        <h1>No Category exists. Create a category to display!</h1>
        <% } %>