










<form action="<%= locals.path %><%= category.category_id %>" method="post" encType="multipart/form-data" class="form">
    <h1>Edit Category</h1>
    <div class="formPart">
            <label for="name">Name: </label>
            <input type="text" required name="name" id="name" value="<%= category.name %>">
    </div>
    <div class="formPart">
            <label for="description">Description: </label>
            <textarea name="description" id="description" required><%= category.description %></textarea>

    </div>
    <div class="formPart">
            <p>Current image:</p>
            <img src="data:<%= category.datatype %>;base64,<%= category.picture.toString('base64') %> " alt="movie image" class="CurrentImg" style="margin-bottom: 0.5em;">
            <p>You can upload a new image to replace this one (optional).</p>
    </div>
    <div class="formPart">
        <label for="PictureInput" class="picture">Choose Picture</label>
        <span class="fileName">No file chosen</span>
        <input type="file" name="picture" id="PictureInput" accept="image/*">
    </div>
    <div class="buttonCont">
            <button type="submit">Edit</button>
            <button type="reset">Reset</button>
    </div>
    
</form>