




<form action="<%= locals.path %>/edit/<%= movie.movie_id %>" method="post" encType="multipart/form-data" class="form">
        <div class="formPart">
            <label for="name">Name:</label>
            <input type="text" required name="name" id="name" value="<%= movie.name %>">
        </div>
        <div class="formPart">
            <label for="rating">Rating:</label>
            <input type="text" required name="rating" id="rating" value="<%= movie.rating %>">
        </div>
        <div class="formPart">
            <label for="director">Director:</label>
            <input type="text" required name="director" id="director" value="<%= movie.director %>">
        </div>
        <div class="formPart">
            <label for="release">Release Date:</label>
            <input type="date" required name="release" id="release" value="<%= movie.releasedate.toISOString().split('T')[0] %>">
        </div>
        <div class="formPart special">
            <label for="category">Category:</label>
            <select name="category_id" id="category">
                    <% locals.categories.forEach(function(category){ %>
                        <% if (category.category_id == movie.category_id) { %>
                            <option value="<%= category.category_id %>" selected><%= category.name %></option>
                        <% } else { %>
                            <option value="<%= category.category_id %>" ><%= category.name %></option>
                        <% } %>
                    <% }); %> 
            </select>
        </div>
        <% if (locals.path.includes("category")){ %>
             <input type="text" value="<%= movie.category_id %>" class="hidden" name="previous">
        <% } %>  
        <div class="formPart">
            <p>Current image:</p>
            <img src="data:<%= movie.datatype %>;base64,<%= movie.picture.toString('base64') %> " alt="movie image" class="CurrentImg" style="margin-bottom: 0.5em;">
            <p>You can upload a new image to replace this one (optional).</p>
        </div>
        <div class="formPart">
            <label for="PictureInput" class="picture">Choose Picture</label>
            <span class="fileName">No file chosen</span>
            <input type="file" name="picture" id="PictureInput" accept="image/*">
        </div>
        <div class="buttonCont">
            <button type="submit">Edit</button>
            <button type="reset">Reset</button>
        </div>
     </form>