










<form action="<%= locals.path %><%= category.category_id %>" method="post" encType="multipart/form-data">
    <h1>Edit Category</h1>
    <div class="formPart">
            <label for="name">Name: </label>
            <input type="text" required name="name" id="name" value="<%= category.name %>">
    </div>
    <div class="formPart">
            <label for="description">Description: </label>
            <textarea name="description" id="description" required><%= category.description %></textarea>

    </div>
    <div class="formPart">
            <p>Current image:</p>
            <img src="data:<%= category.datatype %>;base64,<%= category.picture.toString('base64') %> " alt="movie image" class="formImage">
            <p>You can upload a new image to replace this one (optional).</p>
            <label for="Picture">Picture: </label>
            <input type="file" name="picture" id="Picture" accept="image/*">
    </div>
    <div class="buttonCont">
            <button type="submit">Add</button>
            <button type="reset">Reset</button>
    </div>
    
</form>