





<div class="homePage">
    <div class="IntroductionContainer">
            <div class="videoContainer">
            <video src="/BgVideo.mp4" autoplay muted loop></video>
        </div>
        <h1>Movie Inventory</h1>
        </div>
        <div class="categories">
            <% locals.categories.forEach((category) => { %>
                <a href="" class="link">
                    <div class="category">
                        <div class="imgHolder">
                            <% if (category.picture == null) {%>
                        <img src="" alt="">
                            <% } else { %>
                            <img src="data:<%= category.datatype %>;base64,<%= category.picture.toString('base64') %> " alt="category image">
                            <% } %>
                        </div>
                    <p><%= category.name %></p>
                </div>
            </a>
            <% }) %>
        </div>
        <div class="movies">
            <% locals.movies.forEach((movie) => { %>
                <a href="" class="link">
                    <div class="movie">
                        <div class="imgHolder">
                            <% if(movie.picture == null) { %>
                        <img src="" alt="">
                        <% } else { %>
                            <img src="data:<%= movie.datatype %>;base64,<%= movie.picture.toString('base64') %>" alt="movie image">
                        <% } %>
                        </div>
                    <p><%= movie.name %></p>
                </div>
                </a>
            <% }) %>
        </div>
</div>