






<div class="AllMovies">
    <div class="collection">
        <% if (locals.movies.length > 0) { %>
            <% locals.movies.forEach((movie)=>{ %>
                <div class="movie">
                <div class="imgHolder">
                    <% if (movie.picture == null) { %>
                        <img src="" alt="">
                    <% } else { %>
                    <img src="data:<%= movie.datatype %>;base64,<%= movie.picture.toString('base64') %> " alt="movie image">
                    <% } %>
                </div>
                <div class="movieDetails">
                    <p class="soulway"><%= movie.name %></p>
                    <p><%= movie.releasedate.toLocaleString().split(",")[0] %></p>
                    <p><%= movie.rating %></p>
                    <p><%= movie.category %></p>
                    <p><%= movie.director %></p>
                    <div class="buttons">
                    <a href="/movies/edit/<%= movie.movie_id %>">Edit</a>
                    <a href="/movies/remove/<%= movie.movie_id %>,<%= movie.category_id %>">Remove</a>
                </div>
                </div>
                </div>
            <% }) %>
        <% } else { %>
            <h1>No Movie exists, Add a movie to a category to display!</h1>
         <% } %>
    </div>
</div>