







<% if (locals.movies.length > 0) { %>
            <% locals.movies.forEach((movie)=>{ %>
                <div class="movie">
                <div class="imgHolder">
                    <% if (movie.picture == null) { %>
                        <img src="" alt="">
                    <% } else { %>
                    <img src="data:<%= movie.datatype %>;base64,<%= movie.picture.toString('base64') %> " alt="movie image">
                    <% } %>
                </div>
                <div class="movieDetails">
                    <p class="soulway"><%= movie.name %></p>
                    <p>Release date:<%= movie.releasedate.toISOString().split('T')[0] %></p>
                    <p>Rating:<%= movie.rating %></p>
                    <p>Category:<%= movie.category %></p>
                    <p>Director:<%= movie.director %></p>
                    <div class="buttons">
                    <a href="<%= locals.path %>/edit/<%= movie.movie_id %>">Edit</a>
                    <a href="<%= locals.path %>/remove/<%= movie.movie_id %>,<%= movie.category_id %>">Remove</a>
                </div>
                </div>
                </div>
            <% }) %>
<% } else { %>
    <h1>No Movie exists, Add a movie to a category to display!</h1>
<% } %>